.About
{
    text-align: center;
    align-items: center;
    justify-content: space-evenly ;

}

.picture{
    display:flex;
    background-image: url(wp-tenants-008.png);
    background-size: 100%;
    padding:150px 0;
}


.Ebooking {
    text-align: center;
    width:450px;
    background-color: #7a7a78;
    justify-content: space-evenly;
    
}

.RepairStatus{
    text-align:center;
    width:450px;
    background-color: #7a7a78;
}

.container1{

    display:flex;
    background-image: url(wp-tenants-008.png);
    background-attachment: auto;
    background-size: 100%;
    padding: 200px 0;
    justify-content: space-evenly;

    
}
.topbar{
    text-align: center;
    background-color:#7a7a78;
    padding: 25px 0px 25px 0;
}

.heading{
    text-align: center;
}

.navigation{
    text-align: left;
}

.name{
    display:flex;
    text-align: center;
    flex-direction: row;
    justify-content:space-evenly ;
}

.locationname{
    
    justify-content: center;
    text-align: center;
    flex-direction: column;


}

.picbackground
{
    padding: 30px 0;
    background-image: url(wp-tenants-008.png);
    background-attachment: auto;
    background-size: 130%;

}