.About
{
    text-align: center;
    background-image: url(wp-tenants-008.png);
    background-attachment: auto;
    background-size: 100%;
    padding:220px 0;

}


.Ebooking {
    text-align: center;
    width:450px;
    
}

.RepairStatus{
    text-align:center;
    width:450;
}

.container1{

    display:flex;

    
}
.topbar{
    text-align: center;
    background-color:#7a7a78;
    padding: 35px 0px 35px 0;
}