.About
{

    background-image: url(wp-tenants-008.png);
    background-attachment: fixed;
    background-size: 100%;
    padding:220px 0;

}


.Ebooking {
    text-align: center;
    width:450px;
    
}

.RepairStatus{
    text-align:center;
    width:450;
}

.container1{

    display:flex;

    
}